<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Visual Weather</title>

  <style type="text/css">
    body {font-family: helvetica, sans-serif;}
    nav, section.images {display: inline-block;}
    nav {width: 80px}
    .images {width: 320px}
    nav ol li, nav ol li ul li {list-style: none;}
    .images ul li {display: inline-block; list-style: none;}

  </style>
</head>
<body>
  <header>
    <h1>Visual Weather</h1>
  </header>
  <nav id="days">
    <ol>
      <li>
        <ul>
          <li>Friday</li>
          <li>18 degrees</li>
          <li>Rain</li>          
        </ul>
      </li>
      <li id="today">
        <ul>
          <li>Saturday</li>
          <li>18 degrees</li>
          <li>Rain</li>          
        </ul>
      </li>
      <li>
        <ul>
          <li>Sunday</li>
          <li>18 degrees</li>
          <li>Rain</li>          
        </ul>
      </li>
   
    </ol>
  </nav>

  <section class="images">
    <h2>What today's weather looks like.</h2>
    <ul>
      <li>
        <img src="http://www.placehold.it/100x100" alt="image of stuff">
      </li>
      <li>
        <img src="http://www.placehold.it/100x100" alt="image of stuff">
      </li>
      <li>
        <img src="http://www.placehold.it/100x100" alt="image of stuff">
      </li>
      <li>
        <img src="http://www.placehold.it/100x100" alt="image of stuff">
      </li>
      <li>
        <img src="http://www.placehold.it/100x100" alt="image of stuff">
      </li>
      <li>
        <img src="http://www.placehold.it/100x100" alt="image of stuff">
      </li>      
      <li>
        <img src="http://www.placehold.it/100x100" alt="image of stuff">
      </li>
      <li>
        <img src="http://www.placehold.it/100x100" alt="image of stuff">
      </li>
      <li>
        <img src="http://www.placehold.it/100x100" alt="image of stuff">
      </li>   
    </ul> 

  </section>

  <footer id="site-footer">
    <p>Photo Hack Day project</p>
  </footer>
</body>
</html>